table {
  border-collapse: collapse;
  border: 0px;
}

.indent {
  width: 0px;
  border: 0px;
}

td {
  border-top: 1px solid black;
  padding: 0px 15px;
}

th {
  padding-right: 10px;
  vertical-align: bottom;
}

td:last-child {
  text-align: right;
}

